<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.monitoriadetartarugas">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        tools:replace="android:label"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ActListingRecords"
            android:label="@string/title_activity_act_listing_records"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ActNestLocalization2"
            android:label="@string/title_activity_act_nest_localization2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ActHatchling_2"
            android:label="@string/title_activity_act_hatchling_2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ActHelp"
            android:label="@string/title_activity_act_help"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ActRecordsMenu"
            android:label="@string/title_activity_act_show_data"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ActNest2"
            android:label="@string/title_activity_act_nest_without_turtle"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ActTaggs"
            android:label="@string/title_activity_act_turtle_and_nest5"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ActHatchling"
            android:label="@string/title_activity_act_turtle_and_nest4"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ActNestLocalization"
            android:label="@string/title_activity_act_turtle_and_nest3"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ActNest"
            android:label="@string/title_activity_act_turtle_and_nest2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ActObservation"
            android:label="@string/title_activity_act__turtle_and_nest1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ActTurtle"
            android:label="@string/title_activity_turtle_and_nest"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Act_Main"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>