<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.monitoriadetartarugas">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ActHelp"
            android:label="@string/title_activity_act_help"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ActShowReports"
            android:label="@string/title_activity_act_show_data"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ActNestWithoutTurtle"
            android:label="@string/title_activity_act_nest_without_turtle"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ActTurtleAndNest5"
            android:label="@string/title_activity_act_turtle_and_nest5"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ActTurtleAndNest4"
            android:label="@string/title_activity_act_turtle_and_nest4"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ActTurtleAndNest3"
            android:label="@string/title_activity_act_turtle_and_nest3"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ActTurtleAndNest2"
            android:label="@string/title_activity_act_turtle_and_nest2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ActTurtleAndNest1"
            android:label="@string/title_activity_act__turtle_and_nest1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ActTurtleAndNest"
            android:label="@string/title_activity_turtle_and_nest"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Act_Main"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>